version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin



      MONGO_INITDB_ROOT_PASSWORD: adminadmin




      MONGO_INITDB_DATABASE: test_base_local
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network


  api:
    build: ./api
    container_name: api_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://admin:adminadmin@mongodb.27017/test_base_local?authSource=admin



    depends_on:
      - mongodb
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge